@model JOACOProjectByEmNEm.ViewModels.MediaViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<nav aria-label="breadcrumb">
    <h1 class="font-weight-bolder mb-0">Edit</h1>
</nav>

<h4>Produit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProduitId" />

            <div class="form-group">
                <label asp-for="ProduitNom" class="control-label">Nom du produit: </label>
                <input asp-for="ProduitNom" class="form-control" />
                <span asp-validation-for="ProduitNom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProduitType">Type du produit: </label>
                <input asp-for="ProduitType" list="editType" class="form-control" />
                <datalist id="editType">
                    <option value="bundles">Bundles</option>
                    <option value="deodorant">Déodorant</option>
                    <option value="cream">Crème</option>
                    <option value="exfoliant">Exfoliant</option>
                    <option value="perfume">Parfum</option>
                    <option value="soap">Savon</option>
                    <option value="socks">Chausettes</option>
                    <option value="spray">Aéorsol</option>
                    <option value="tools">Outils</option>
                </datalist>
                <span asp-validation-for="ProduitType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProduitDescription" class="control-label">Description du produit: </label>
                <input asp-for="ProduitDescription" class="form-control" />
                <span asp-validation-for="ProduitDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Prix" class="control-label">Prix du produit: </label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StockQuantite" class="control-label">Nombre de produit en inventaire: </label>
                <input asp-for="StockQuantite" class="form-control" type="number" min="0" />
                <span asp-validation-for="StockQuantite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatutDispo">Statut du produit: </label>
                <input asp-for="StatutDispo" list="editStatus" class="form-control" />
                <datalist id="editStatus">
                    <option value="Disponible">In Stock</option>
                    <option value="Indisponible">Out of Stock</option>
                </datalist>
                <span asp-validation-for="StatutDispo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProduitImg" class="control-label">Image du produit: </label>
                <input type="file" asp-for="ProduitImg" class="form-control" accept="image" onchange="previewImage(this)" />
                <span asp-validation-for="ProduitImg" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MediaDescription" class="control-label">Alt-Text </label>
                <input asp-for="MediaDescription" class="form-control" />
                <span asp-validation-for="MediaDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn-hotfix btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
