@{
    ViewData["Title"] = "About";
}
<h1>À Propos de JOACO.</h1>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="aboutImg">
                <img src="~/images/joacoAbout1.png" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="aboutTxt">
                <h2>Mon Expérience Personelle</h2>
                <p>
                    J’ai été une sportive pendant plus de 15 ans. En effet, j’ai fait du basket-ball, soccer, athlétisme, flag football, patinage artistique et j’ai constaté à travers les années que je souffrais d'une mauvaise odeur de pieds. Une de ces odeurs qui répugnait ma famille et mes amies. En temps que femme cela créait un sentiment de gène et de honte en moi. Dans le passé, ma mère trouva quelques solutions qui malheureusement ne fonctionnaient pas vraiment. Puis, quand j’allais dans des pharmacies, les bouteilles avaient une apparence très gênante. Ces bouteilles donnaient l’allure d’être pour de grave problème de pieds et ressemblaient à des bouteilles de chasse moustique. Ainsi, je serais en mesure de changer le visage de l’industrie des pieds en amenant des produits efficaces avec un design innovateur.
                </p>
            </div>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="aboutTxt">
                <h2>Ma Compagnie </h2>
                <p>
                    Mon entreprise consiste à offrir des produits pour contrer les mauvaises odeurs des pieds et des souliers. Pour ce faire, je vais offrir une gamme de produits complètement naturels qui vont aider à réduire la transpiration et neutraliser les bactéries nauséabondes. De plus, mes produits seront sous la forme de contenant facile à transporter et doté d’un design innovateur. Ce design viendra combattre les sujets tabous concernant les odeurs des pieds.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="aboutImg">
                <img src="~/images/joacoAbout2.png" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
