@{
    ViewData["Title"] = "FAQ";
}

<h1>Frequently Asked Questions</h1>

<section id="support" class="faq">
    <div class="faq-qa">
        <h3 class="question">Q: Question?</h3>
        <div class="answer">
            <p>A: An answer.</p>
        </div>
    </div>
</section>

<script src="js/faq.js"></script>